<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/imagesloaded.js') }}
    {{ JS.push('js/lib/isotope.pkgd.min.js') }}
    {{ JS.push('js/lib/packery-mode.pkgd.min.js') }}
    {{ JS.push('js/lib/photoswipe.min.js') }}
    {{ JS.push('js/lib/photoswipe-ui-default.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>
