{% extends '_base.html' %}

{% block content %}
<h1>This is our photo story thing about Juarez</h1>
<div class="byline">
<p>By <span class="name">Team Trinidad</span> | April 9, 2015</p>

<div class="filters">
    <h2>Choose tags to filter different photos</h2>

    <button class="btn filter" data-filter="*">All</button>
    <button class="btn filter" data-filter=".featured">Featured</button>

    <div class="filter-group" data-filter-group="color">
        <h6>Color</h6>
        <button class="btn filter" data-filter=".red">Red</button>
        <button class="btn filter" data-filter=".blue">Blue</button>
        <button class="btn filter" data-filter=".yellow">Yellow</button>
    </div>
    <div class="filter-group" data-filter-group="subject">
        <h6>Subject</h6> 
        <button class="btn filter" data-filter=".people">People</button>
        <button class="btn filter" data-filter=".things">Things</button>
        <button class="btn filter" data-filter=".homes">Homes</button>
        <button class="btn filter" data-filter=".church">Church</button>
        <button class="btn filter" data-filter=".playground">Playground</button>
        <button class="btn filter" data-filter=".market">Market</button>
    </div>
</div>


<div class="isotope-container">
    {% for image in images %}
    <figure class="item {% for tag in image.tags %} {{ tag }} {% endfor %}">
        <a href="assets/{{ image.filename }}" data-size="1200x800">
            <img src="assets/thumbs/{{ image.filename }}">
        </a>
    </figure>
    {% endfor %}
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>
{% endblock %}