@import "less/lib/bootstrap/bootstrap";
@import "less/lib/prefixer";
@import "less/lib/photoswipe";
@import "less/lib/photoswipe-default-skin";

.item {
	width: 150px;
	height: auto;
}

.item.featured {
	width: 300px;
	height: auto;
}

.item img {
	width: 100%;
}

.item figcaption {
	display: none;
}